@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: blue;
}

header {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 0px;
}

main {
    background-color: white;
    width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.452);
}

main div {
    margin: 15px 0px;
}

main input {
    padding: 5px;
}