@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: blue;
}

header {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 0px;
}

main {
    background-color: white;
    width: 400px;
    margin: auto;
    padding: 15px;
    border-radius: 5px;
    
}

main div.campo {
    margin: 8px 0px;
}

main label {
    width: 40px;
    display: inline-block;
}

main input {
    height: 15px;
    padding: 5px;
}

main input[type="button"] {
    height: 30px;
    width: 80px;
}

